@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');


* {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  color: black;
}

#profile-pic {
  float: left;
  height:280px;
  padding-left: 150px;
  padding-right: 30px;
}

#title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 72px;
}

#heading1{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 48px;
}
/* Style the tab */
.tab {
  padding: 30px 20px;
  overflow: hidden;
  background-color: inherit;
}

#linkbutton{
  padding: 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

#contactbutton{
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  width: 100%;
  padding: 8px;
  font-size: 20px;
  text-align: left;
}

#contactbutton:hover{
  background-color: rgba(0, 0, 0, 0.4);
}

#ytembed{
  padding: 10px;
}

body {
  background-color: white;
  padding-left: 200px;
  padding-right: 200px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(0, 0, 0, 0.6);
}

/* Style the tab content */
.tabcontent {
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 6px 50px;
  border-top: none;
}

table, th, td {
  background-color: rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}
